@use "../../general";
@use "../../flexbox";
@use "./forms";

@use "./articles";

@mixin content {
    section#content {
        @include flexbox.center($direction: column);
        justify-content: flex-start;
        align-items: flex-start;
        flex: 4;

        @include general.section-items($padding-x: 5%, $padding-y: 20px);

        @include articles.common();
        @include articles.manual();
        @include articles.timer-settings();
        @include articles.block-settings();
    }
}
