@use "../../general";
@use "../../flexbox";

@mixin common($summary-color: general.$white, $summary-font-size: general.$text-size) {
    details {
        padding: 0;
        background-color: general.$light-gray;
        border-right: 1px solid general.$white;
        border-bottom: 1px solid general.$white;

        summary {
                inline-size: 100%;
                padding: 10px;

                color: $summary-color;
                font-size: $summary-font-size;
                
                background-color: general.$light-gray;
                position: sticky;
                top: 0;
                z-index: 0;
        }
    }

    details[open] > summary {
        border-bottom: 1px solid general.$white;
    }
}

@mixin manual {
    @include common($summary-color: general.$fluro-yellow, $summary-font-size: general.$sub-header-size);

    details {
        inline-size: 100%;
        margin-block: 15px;

        section {
            padding-inline: 20px;
        }
    }
}

@mixin block-list {
    @include common();

    details#block-list-container {
        max-width: 750px;
        max-height: 460px;
        margin-block-start: 5px;
        overflow-y: auto;
        @include general.scrollbar-styles();

        ul#block-list {
            padding-block: 10px;
            margin-inline-end: 10px;
            overflow-x: auto;
            @include general.scrollbar-styles();
        }

        @media (max-width: 1200px) {
            max-width: 60vw;
        }

        @media (max-width: 650px) {
            max-width: 90vw;
            max-height: 400px;
        }
    }
}

@mixin block-list-edit {
    @include common();

    details {
        margin-block: 10px;

        summary {
            color: general.$white;
            font-size: general.$text-size;
        }

        ul {
            block-size: 80px;
            margin-block: 10px;
            overflow-y: auto;
            @include general.scrollbar-styles();

            li {
                color: general.$white;
            }

            ul {
                block-size: fit-content;
                margin-block: 0px;
            }
        }
    }
}
