@use "../../general";
@use "../../flexbox";

@mixin manual {
    details {
        inline-size: 100%;
        padding-inline: 10px;
        padding-block: 5px;
        margin-block-end: 10px;

        background-color: general.$light-gray;
        border-right: 1px solid general.$white;
        border-bottom: 1px solid general.$white;

        summary {
            color: general.$fluro-yellow;
            font-size: general.$sub-header-size;
        }

        section {
            padding-inline: 20px;
        }
    }
}

@mixin block-list {
    details#block-list-container {
        max-width: 750px;
        max-height: 460px;
        padding: 0;
        margin-block-start: 5px;
        overflow-y: auto;

        background-color: general.$light-gray;
        border-right: 1px solid general.$white;
        border-bottom: 1px solid general.$white;

        @include general.scrollbar-styles();

        summary {
            inline-size: 100%;
            padding: 10px;

            color: general.$white;
            font-size: general.$text-size;

            background-color: general.$light-gray;
            position: sticky;
            top: 0;
        }

        ul#block-list {
            padding-block: 10px;
            margin-inline-end: 10px;
            overflow-x: auto;
            @include general.scrollbar-styles();
        }

        @media (max-width: 1200px) {
            max-width: 60vw;
        }

        @media (max-width: 650px) {
            max-width: 90vw;
            max-height: 400px;
        }
    }

    details[open]#block-list-container > summary {
        border-bottom: 1px solid general.$white;
    }
}
