@use "./nav";
@use "./content/content";

@mixin content {
    main.options {
        display: flex;
        flex-flow: row nowrap;
        flex: 1;

        @include nav.content();
        @include content.content();

        @media (max-width: 650px) {
            flex-flow: column wrap;
        }
    }
}
