@use "../general";
@use "../flexbox";

$nav-font-size: 24px;

@mixin nav {
    nav {
        flex: 1;

        @include general.section-items();
        border-right: general.$section-border;

        div#sticky-nav {
            @include flexbox.center($direction: column);

            position: sticky;
            top: 0;

            h1 {
                margin-block: 10px;

                color: general.$fluro-yellow;
                font-size: 32px;
                border-bottom: 2px solid general.$fluro-yellow;
            }

            div {
                @include flexbox.center($direction: column);
                @include general.btn(
                    $size: general.$sub-header-size,
                    $inline: 140px,
                    $block: 48px
                );
                button {
                    margin: 15px;
                }
            }
        }

        @media (max-width: 650px) {
            position: sticky;
            top: 0;

            border-right: none;
            border-bottom: general.$section-border;

            div#sticky-nav {
                h1 {
                    display: none;
                }

                div {
                    display: flex;
                    flex-flow: row wrap;
                    @include general.btn(
                        $size: general.$text-size,
                        $inline: 96px,
                        $block: 32px
                    );

                    button {
                        margin: 10px;
                    }
                }
            }
        }
    }
}
