@use "../general";
@use "../flexbox";

@mixin content {
    section#content {
        @include flexbox.center($direction: column);
        justify-content: flex-start;
        align-items: flex-start;
        flex: 4;

        @include general.section-items($padding-x: 5%, $padding-y: 20px);

        article {
            h1 {
                inline-size: fit-content;

                color: general.$fluro-purple;
                font-size: general.$main-header-size;
                text-transform: uppercase;

                border-bottom: 2px solid general.$fluro-purple;
            }

            section {
                margin-block: 20px;

                font-size: general.$text-size;

                h2 {
                    color: general.$fluro-yellow;
                    font-size: general.$sub-header-size;
                }

                @include general.btn($inline: 160px);
            }

            section#timer-preview {
                @include flexbox.center();
                justify-content: flex-start;
                h3#timer-display {
                    margin-inline-end: 40px;
                }

                @include general.display();
                @include general.btn($inline: 160px);
            }
        }
    }
}
