@use "../general";
@use "../flexbox";

@mixin header {
    header.options {
        @include flexbox.center();
        justify-content: flex-start;

        @include general.section-items($padding-y: 10px);

        border-bottom: general.$section-border;

        section {
            margin-inline-start: 5%;
            @include flexbox.center();

            img {
                inline-size: 72px;
                block-size: auto;
            }

            h1 {
                padding-block-end: 5px;
                margin-inline-start: 10px;
                color: general.$fluro-blue;
                font-size: calc(general.$main-header-size + 8px);
            }
        }
    }
}
