@use "../general";
@use "../flexbox";

@mixin finish {
    div.form-finish {
        @include flexbox.center($wrap: wrap);
        justify-content: flex-start;

        button {
            margin-inline-end: 10px;
            margin-block-end: 10px;
        }
    }
}

@mixin all {
    dialog {
        @include general.section-items();
        color: general.$white;

        form {
            padding: 10px;
            
            h3 {
                color: general.$fluro-yellow;
                font-size: general.$sub-header-size;
            }
        }

        &::backdrop {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }

    dialog#timer-form {
        form {
            div.form-container {
                margin-inline: 5px;
                margin-block: 15px;

                label {
                    display: inline-block;
                    inline-size: 80px;

                    color: general.$fluro-purple;
                }

                input[type="number"] {
                    padding-inline: 10px;
                    padding-block: 5px;
                    font-family: sans-serif;
                }
            }
        }
    }

    dialog#block-form {
        form {
            details {
                padding-inline: 10px;
                padding-block: 5px;
                margin-block: 10px;
                background-color: general.$light-gray;
                border-right: 1px solid general.$white;
                border-bottom: 1px solid general.$white;

                summary {
                    color: general.$white;
                    font-size: general.$text-size;
                }

                ul {
                    li {
                        color: general.$white;
                    }
                }
            }

            textarea {
                inline-size: 100%;
                min-height: calc(4 * general.$sub-header-size);
                max-height: calc(6 * general.$sub-header-size);
                padding: 10px;
                margin-block: 10px;

                display: inline-block;
                overflow:auto;
                white-space: nowrap;

                border-bottom: 4px solid general.$fluro-red;

                font-family: sans-serif;
                line-height: calc(1.05 * general.$sub-header-size);
            }
        }
    }    
}