@use "../../../node_modules/scss-reset/reset";
@use "./options-header";
@use "./options-main";
@use "../general";

body {
    display: flex;
    flex-flow: column nowrap;
    font-family: "monomaniac-one", sans-serif;
    color: general.$white;
    background-color: general.$dark-gray;

    @include options-header.header();
    @include options-main.main();
}

ol,
ul {
    padding-inline-start: 2em;
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: disc;
}

a {
    color: general.$fluro-cyan;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

span.note {
    color: general.$fluro-red;
    text-transform: uppercase;
}

span.example {
    color: general.$fluro-yellow;
}
