@use "../general";
@use "../flexbox";

$nav-btn-size: 24px;

@mixin content {
    header.popup {
        @include general.section-items();

        @include flexbox.center();
        justify-content: space-between;

        section,
        nav {
            @include flexbox.center();
        }

        section {
            img {
                inline-size: 48px;
                block-size: auto;
            }

            h1 {
                margin-inline-start: 10px;
                color: general.$fluro-blue;
                font-size: 24px;
            }
        }

        nav.popup {
            @include general.btn($inline: $nav-btn-size, $block: $nav-btn-size);
            button {
                margin-inline: 5px;
            }

            button#settings {
                font-size: $nav-btn-size;
                padding-block-end: 5px;
            }
        }
    }
}
