@use "../general";
@use "../flexbox";

@mixin timer {
    section.popup.timer {
        @include general.section-items($padding-y: 10px);

        @include flexbox.center($direction: column);

        border-top: general.$section-border;

        h2 {
            margin-block-end: 5px;
            color: general.$fluro-yellow;
        }

        section {
            inline-size: 100%;

            @include flexbox.center();

            @include general.btn($size: 24px, $inline: 42px, $block: 42px);
            button {
                padding-block-end: 4px;
                margin-inline: 4px;
            }

            @include general.display();
        }
    }
}
