@use "../../../node_modules/scss-reset/reset";
@use "../general";
@use "./header";
@use "./timer";
@use "./block";

body {
    inline-size: 360px;
    block-size: auto;

    display: flex;
    flex-flow: column nowrap;

    font-family: "monomaniac-one", sans-serif;

    @include header.content;
    @include timer.content;
    @include block.content;
}
