@use "../../../node_modules/scss-reset/reset";
@use "../general";
@use "./popup-header";
@use "./popup-nav";
@use "./popup-timer";
@use "./popup-block";

body {
    inline-size: 360px;
    block-size: auto;

    display: flex;
    flex-flow: column nowrap;

    font-family: "monomaniac-one", sans-serif;

    @include popup-header.header;
    @include popup-nav.nav;
    @include popup-timer.timer;
    @include popup-block.block;
}
