
@font-face {
    font-family: 'monomaniac-one';
    src: url('../assets/Monomaniac_One/MonomaniacOne-Regular.ttf');
}

$dark-gray: #2E2E2E;
$light-gray: #474747;
$fluro-blue: #0085FF;
$fluro-purple: #FF00E5;
$fluro-yellow: #FAFF00;
$fluro-cyan: #00FFE0;
$fluro-red: #FF0000;
