@font-face {
    font-family: "monomaniac-one";
    src: url("../../assets/Monomaniac_One/MonomaniacOne-Regular.ttf");
}

$white: white;
$dark-gray: #2e2e2e;
$light-gray: #474747;
$fluro-blue: #0085ff;
$fluro-purple: #ff00e5;
$fluro-yellow: #faff00;
$fluro-cyan: #00ffe0;
$fluro-red: #ff0000;
