@use "./flexbox";

@font-face {
    font-family: "monomaniac-one";
    src: url("../../assets/Monomaniac_One/MonomaniacOne-Regular.ttf");
}

$white: white;
$dark-gray: #2e2e2e;
$light-gray: #474747;
$fluro-blue: #0085ff;
$fluro-purple: #ff00e5;
$fluro-yellow: #faff00;
$fluro-cyan: #00ffe0;
$fluro-red: #ff0000;

$section-border: 0.1px solid $white;
@mixin section-items($padding-x: 10px, $padding-y: 5px) {
    padding-inline: $padding-x;
    padding-block: $padding-y;
    background-color: $dark-gray;
}

$btn-border: 2px solid $white;
@mixin btn($size: 16px, $inline: 100%, $block: 32px) {
    button {
        inline-size: $inline;
        block-size: $block;

        @include flexbox.center();

        color: $white;
        font-size: $size;

        background-color: $light-gray;
        border-bottom: $btn-border;
        border-right: $btn-border;

        &:hover {
            color: $fluro-purple;
            border-color: $fluro-purple;
        }

        &:active {
            color: $fluro-red;
            border-color: $fluro-red;
        }
    }
}

$display-border: 1px solid $fluro-yellow;
@mixin display($padding: 30px) {
    h3#timer-display,
    h3#block-display {
        padding-inline: $padding;

        color: $white;
        font-size: 24px;
        text-align: center;

        background-color: $light-gray;
        border: $display-border;
    }
}
